* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

.heading {
  font-size: 3rem;

}


/* --- NAV BAR --- */

header .navbar a:hover {
  color: rgb(60, 184, 116);
}

header .navbar-expand {
  background: rgba(255, 255, 255, 0.81);
}

header .the-blur{
  position: fixed;
top:0;
 width: 100%;
min-height: 50px;
margin-bottom: 20px;
 background: rgba(0,0,0,.4);
z-index:1010;
-webkit-filter: blur(20px);
-moz-filter: blur(20px);
-o-filter: blur(20px);
-ms-filter: blur(20px);
filter: blur(20px);

}

/*  --- FIRST SECTION - MAIN PAGE --- */

section {
  padding: 2rem 9%;
}


.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(../../img/search-background.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
}


.home .content {
  max-width: 50rem;
}

.home .content h3 {
  font-size: 6rem;
  color: #333;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.search {
  margin-top: 1rem;
  border-radius: 5rem;
  padding: 0.8rem 2rem;
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.btn:hover {
  background-color: rgb(60, 184, 116);
}


/* --- RECIPE RESULTS SECTION - MAIN PAGE --- */


.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem;
  background: rgba(51, 255, 75, 0.05)
}

.heading span {
  color: green;
}

.box-container {
  justify-content: center;
}

.box {
  max-width: 300px;
}

.recipes .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

}

.recipes .box-container .box {
  flex: 1 1 30rem;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  border: .1rem solid rgba(0, 0, 0, .1);
  position: relative;
}

.recipes .box-container .box .image {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.recipes .box-container .box .image img {
  height: 25rem;
}

.recipes .box-container .box:hover .image img {
  transform: scale(1.1);
}


.recipes .box-container .box .image .icons {
  position: absolute;
  bottom: -7rem;
  left: 0;
  right: 0;
  display: flex;
}


.recipes .box-container .box:hover .image .icons {
  bottom: 0;
  left: 0;
  right: 0;
}


.recipes .box-container .box .image .icons a {
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 50%;
  background: rgb(60, 184, 116);
  color: #fff;

}

.recipes .box-container .box .image .getDetail-btn {
  border-left: .1rem solid #fff7;
  border-right: .1rem solid #fff7;
  width: 100%;
}

.recipes .box-container .box .image .icons a:hover {
  background: #333;
}

.recipes .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.recipes .box-container .box .content h3 {
  font-size: 1.5rem;
  color: #333;
}




/* --- TIPPS SECTION - MAIN PAGE --- */
.tipps {
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
}

.tipps p {
  font-size: 3rem;
}


/* --- Log In Page --- */

.form-label {
  font-size: 15px;
}



/* --- FOOTER --- */

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1, 5rem;
}

.footer .box-container .box {
  flex: 1 1 25rem;
}

.footer .box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  color: #666;
  font-size: 2.5rem;
  padding: 1rem 0;
}

.footer .box-container .box a:hover {
  color: rgb(60, 184, 116);
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #333;
  border-top: .1rem solid rgba(0, 0, 0, .1);
}


footer>ul {
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #333;
  border-top: .1rem solid rgba(0, 0, 0, .1);

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
}