
h1 {
  background-color: palevioletred;
  font-size: 200%;
  margin: 8px 0px;
}

#test {
  margin-bottom: 10px;
}

.recipe--container {
  height: 350px;
  width: 350px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

.recipe--header {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.recipe--content {
  width: 100%;
  height: 70%;
}

.recipe--image {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}


.recipe--name {
  position: absolute;
  flex-wrap: wrap;
  color: black;
  font-weight: 700;
}




.header {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 nav {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  justify-content: left;
  align-items: baseline;
 }

 main {
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

footer>ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
}