* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

.heading {
  font-size: 3rem;

}


/* --- NAV BAR --- */

header .navbar a:hover {
  color: rgb(60, 184, 116);
}

header .navbar-expand {
  background: rgba(228, 224, 224, 0.589);
  backdrop-filter: blur(8px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}


header .the-blur {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, .4);
  z-index: 1010;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}


/*  --- FIRST SECTION - MAIN PAGE --- */

section {
  padding: 2rem 9%;
}


.home .recipe-text {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff;
  font-weight: bold;

  border-radius: 10px;
  border-style: none;
  position: relative;
  width: 210px;
  margin: 5px auto;
  background-color: #fff;
  text-align: center;
  line-height: 1.5em;
  overflow: hidden;

  color: #fff;
  background-color: #000;

  padding: 0.225rem 0.5rem;

  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

@supports(mix-blend-mode: lighten) {

  .home .recipe-text::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(60deg, #155a2a, #1cce60);

    mix-blend-mode: lighten;
  }

}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(../../img/food-blurred2.png) no-repeat;

  background-size: cover;
  background-position: center;
  text-align: center;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
}

.home .content {
  max-width: 50rem;
}

.home .content h3 {
  font-size: 6rem;
  color: #333;
}

/* --- Search Button Position --- */
.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

/* --- Search Field --- */
.search {
  margin-top: 1rem;
  border-radius: 5rem;
  padding: 0.8rem 2rem;
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.7);
}

/* --- Search Button Color --- */
.home .btn-search {
  background-image: linear-gradient(92.88deg, #44ad49 9.16%, #469732 43.89%, #2b7921 64.72%);
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  padding: 2px 20px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.home .btn-search:hover {
  box-shadow: rgba(96, 205, 63, 0.5) 0 1px 30px;
  transition-duration: .1s;
}



.btn:hover {
  background-color: rgb(60, 184, 116);
}


/* --- RECIPE RESULTS SECTION - MAIN PAGE --- */
.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem;
  background: rgba(51, 255, 75, 0.05);
}

/* --- Section Header Text --- */
.heading {
  margin: 15px;
  font-family: 'Caveat Brush', cursive;
  text-shadow: 0 2px rgba(0, 0, 0, .5);
}


/* RECIPE RESULTS SECTION */
.box-container {
  justify-content: center;
}

.box {
  max-width: 300px;
}

.recipes .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

}

.recipes .box-container .box {
  flex: 1 1 30rem;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  border: .1rem solid rgba(0, 0, 0, .1);
  position: relative;
}

.recipes .box-container .box .image {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.recipes .box-container .box .image img {
  height: 25rem;
}

.recipes .box-container .box:hover .image img {
  transform: scale(1.1);
}


.recipes .box-container .box .image .icons {
  position: absolute;
  bottom: -7rem;
  left: 0;
  right: 0;
  display: flex;
}


.recipes .box-container .box:hover .image .icons {
  bottom: 0;
  left: 0;
  right: 0;
}


.recipes .box-container .box .image .icons a {
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 50%;
  background: rgb(60, 184, 116);
  color: #fff;

}

.recipes .box-container .box .image .getDetail-btn {
  border-left: .1rem solid #fff7;
  border-right: .1rem solid #fff7;
  width: 100%;
}

.recipes .box-container .box .image .icons a:hover {
  background: #333;
}

.recipes .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.recipes .box-container .box .content h3 {
  font-size: 1.5rem;
  color: #333;
}


/* --- Recipe Instructions Size */
#box-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.recipes .box-container2 .titleElement {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

/* Image Settings */
.recipes .box-container2 .imageElement {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: auto;
  border-radius: 8px;
  border: 4px solid rgb(60, 184, 116);
  margin-bottom: 30px;
}

.recipes .box-container2 .ingredientsTitle {
  font-size: 20px;
  margin-bottom: 15px;
}

/* Ingredients Text Settings */
.recipes .box-container2 .ingredientsElement {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

/* Instructions Text Settings */
.recipes .box-container2 .instructionsElement {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

/* --- COCKTAIL SECTION --- */
.cocktail-html {
  margin-top: 140px;
}

.cocktail {
  margin-top: 10px;
}

#box-container-cocktail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.box-container-cocktail .titleElement {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

/* Image Settings */
.box-container-cocktail .imageElement {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: auto;
  border-radius: 8px;
  border: 4px solid rgb(60, 184, 116);
  margin-bottom: 30px;
}

.box-container-cocktail .ingredientsTitle {
  font-size: 20px;
  margin-bottom: 15px;
}

/* Ingredients Text Settings */
.box-container-cocktail .ingredientsElement {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

/* Instructions Text Settings */
.box-container-cocktail .instructionsElement {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

/* --- COCKTAIL RANDOM BUTTON --- */

.cocktail .btn-search-cocktail {
  background-image: linear-gradient(92.88deg, #44ad49 9.16%, #469732 43.89%, #2b7921 64.72%);
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 45px;
  padding: 10px 30px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cocktail .btn-search-cocktail:hover {
  box-shadow: rgba(96, 205, 63, 0.5) 0 1px 30px;
  transition-duration: .1s;
}


/* --- EDIT FORM --- */

.form-group {
  max-width: 400px;
}


/* --- Log In Page --- */

.form-label {
  font-size: 15px;
}

/* --- FOOTER --- */

footer .fa-twitter {
  font-size: 22px;
}

footer .fa-facebook {
  font-size: 22px;
}

footer .fa-instagram {
  font-size: 23px;
}

footer .rights {
  font-size: 12px;
}

footer .newsletter-text {
  font-size: 13px;
}

footer .subscribe-btn {
  margin-top: -2px;
}

footer .first-text {
  font-size: 20px;
}

footer .text-body-secondary {
  font-size: 12px;
}